body{
    background-image: url('../img/avatarworldmap.jpg');
    background-size: cover;
}


button{
    position: relative;
    left: 9em;
}


.blocks{
    height: 200px;
    width: 200px;
    position: relative;
    left: 125px;
    top: 125px;
}


#test{
    color: #F8FDED;
    background-color: #9E793B;
    text-align: center;
    font-family: "Comic Sans MS";
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#one{
    background-image: url('../img/water.png');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}
#two{   
    background-image: url('../img/earth.png');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}
#three{ 
    background-image: url('../img/fire.png');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}
#four{  
    background-image: url('../img/air.png');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}
#round{
    background-color: #9E793B;
    color: #F8FDED;
    text-align: center;
    font-family: "Comic Sans MS";
    border-style: solid;
    border-width: 5px;
    border-color: black;
}